include README.md
include LICENSE
include ChangeLog
include resources/*.*
include requirements.txt
include codimension/plugins/README
include codimension/skins/README.md
recursive-include codimension *.png *.svg *.svgz
recursive-include codimension/skins *.*
