cdmpyparser==3.1.1
cdmcfparser==2.2.2
cdmgcplugin==1.0.3
pyflakes==2.1.1
flake8==3.7.7
radon==3.0.1
PyQt5==5.10.1
python-magic==0.4.15
qutepart
yapsy==1.12.0
jedi==0.14.1
vulture==1.0
gprof2dot==2017.9.19
mistune==0.8.4
pygments==2.4.2
