[Desktop Entry]
Name=Codimension
GenericName=Codimension
Comment=Codimension Python IDE
Exec=codimension %F
TryExec=codimension
Terminal=false
Type=Application
Icon=codimension
Categories=Development;IDE;
MimeType=application/x-codimension-project;
StartupNotify=true
