Source: codimension
Section: devel
Priority: optional
Maintainer: Dmitry Kazimirov <dk@revl.org>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: python-all (>= 2.5), python-support,
 python-qt4 (>= 4.7.6), python-qscintilla2 (>=2.4.3)
XS-Python-Version: >=2.5
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/codimension/
Vcs-Svn: https://codimension.googlecode.com/svn
Vcs-Browser: http://code.google.com/p/codimension/source/browse/

Package: codimension
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
 codimension-parser (>=1.1.1),
 python-qt4 (>=4.7.6), python-qscintilla2 (>=2.4.3),
 python-pygments, python-chardet, pymetrics (>=0.8.1),
 pylint (>=0.23.0), graphviz (>=2.26.3)
Description: Python IDE with emphasis on graphical representation
 Codimension is an experimental Python IDE based on QT, QScintilla,
 and a custom Python parser. Features:
 .
   * Hierarchical file/class/function/global variable browsers
   * Docstrings as item tooltips in browsers
   * Filtering in browsers
   * Jump to a module import/symbol definition using a hot key
   * Navigation history within a file and between files
   * Syntax highlighting in the source code editor
   * Pixmap viewer
   * Skin support
   * Diagram of imports for a file, directory, or the whole project
   * Search in files
   * Incremental search/replace in a file
   * Search for a file/class/function/global variable in the project
   * One-click intgration of external tools (pylint, pymetrics)
   * Simple line counter
   * McCabe cyclomatic complexity for a file or many files
   * New file templates
